body{
  font-family: Arial;
  margin:0;
  padding:20px;
}

.page{
  display:none;
}

.page.active{
  display:block;
}

#cropContainer{
  width:300px;
  height:300px;
  overflow:hidden;
  border:1px solid #000;
  position:relative;
}

#fullContainer{
  display:none;
  position:relative;
}

#highlightBox{
  position:absolute;
  border:2px solid red;
  pointer-events:none;
}

.liveBox{
  margin-top:10px;
}

.navBtns button{
  margin:5px;
}

#orderGrid{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:10px;
}

.cell{
  border:1px solid #000;
  padding:5px;
  text-align:center;
}

textarea{
  width:100%;
  height:60px;
}